body{
    background-color: red;   
}

.menubar
{
    margin: 0 10vw;
    width: 80vw;
    background-color: orangered;
    border-radius: 20%;
    box-shadow: 3px 3px grey;
    text-align: center;
    height: 45vh;
}

a{
    text-decoration: none;
    color: white;
    padding: 0 16px;
    font-size: 32px;
}

a:hover{
    background-color: brown;
    border-radius: 70%;
}